:root {
  --first-bg-color: #e5e5e5;
  --second-bg-color: #2f303a;
  --first-fonts-color: #757575;
  --second-fonts-color: #212121;
  --third-fonts-color: #ffffff;
  --accent-color: #2196f3;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  margin: 0;
  padding-left: 0;
}
img{
  display: block;
}
button{
  display: block;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--first-fonts-color);
  
}
.list {
  list-style: none;
}

.link {
  outline: none;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------- HEADER-------------- */

.container{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border: solid var(--accent-color) 1px;
}
header .container{
  display: flex;
  align-items: center;
}
.header-list{
  display: flex;
}
.header-contacts{
  display: flex;
}

.header-logo {
  color: var(--accent-color);
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;

  margin-right: 93px;
  padding-top:25px ;
  padding-bottom: 25px;
}


.header-link {
  color: var(--second-fonts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:not(:last-child){
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-conects{
  margin-left: auto;
}
.contacts-link {
  color: var(--first-fonts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-item:not(:first-child){
  margin-left: 50px;
}



.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}


/*-------------- HERO------------ */
.hero-contend {
  background-color: var(--second-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--third-fonts-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin: 0 auto ;
  margin-bottom: 30px;
}
.hero-btn {
  color: var(--third-fonts-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;

}

/*-------------- FEATURES------------ */
.features{
  padding: 94px 0;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  margin-bottom: 10px;
}
.features-list{
  display: flex;
}
.features-item:not(:last-child){
  margin-right: 30px;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*-------------- ABOUT------------ */
.about {
  padding-bottom: 94px; 
}
.about-list{
  display: flex;
}
.about-item:not(:last-child){
  margin-right: 30px;
}
.about-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/*-------------- TEAM------------ */
.team{
  padding-bottom: 94px;
}
.team-list{
  display: flex;
}
.team-item:not(:last-child){
  margin-right: 30px;
}
.team-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-img{
  margin-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
}


/*-------------- FOOTER------------ */
.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-fonts-color);
}
.footer-logo {
  color: var(--accent-color);
}
.footer-map {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-fonts-color);
}
.footer-contact {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.adress-item:not(:last-child){
  margin-bottom: 9px;
}
.footer-adress{
  margin-top: 20px;
}

/*-------------- PORFOLIO------------ */
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-fonts-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--third-fonts-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-fonts-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
